#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2026 The Vibe Killer contributers
# SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-GAL
# SPDX-FileContributor: Jakob Schwanenberg


if has nix; then
  use flake
fi

