# SPDX-FileCopyrightText: 2026 The Vibe Killer contributers
# SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-GAL
# SPDX-FileContributor: yetanotherparrot

[submodule "examples/existing-hostile/kdl-rs"]
	path = examples/existing-hostile/kdl-rs
	url = git@github.com:kdl-org/kdl-rs.git
[submodule "examples/existing-hostile/gotosocial"]
	path = examples/existing-hostile/gotosocial
	url = ssh://git@codeberg.org/superseriousbusiness/gotosocial.git

[submodule "examples/other-foss/reqwest"]
	path = examples/other-foss/reqwest
	url = git@github.com:seanmonstar/reqwest.git
[submodule "examples/other-foss/repo-slopscore"]
	path = examples/other-foss/repo-slopscore
	url = ssh://git@codeberg.org/polyphony/repo-slopscore.git
